@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --clr-darkest: hsl(217, 19%, 30%);
  --clr-medium: hsl(211, 18%, 35%);
  --clr-lightest: hsl(214, 23%, 35%);
}

body {
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0.0625rem 0.125rem 0.3125rem /* 1px 2px 5px */ rgba(0, 0, 0, 0.1);
  margin: auto 6.5%;
  min-width: 17.5rem; /* 280 px*/
}

.main__image {
  background-image: url("./images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 12.5rem; /* 200px */
  width: 100%;
  flex: 1;
  border-top-left-radius: 0.625rem; /* 10px */
  border-top-right-radius: 0.625rem; /* 10px */
}

.main__content {
  flex: 1.5;
}

.main__content h1 {
  color: var(--clr-darkest);
  font-size: 1rem; /* 16px */
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.0125rem; /* 0.2px */
  padding: 2rem 2rem 1rem; /* 32px 32px 16px */
}

.main__content P {
  color: var(--clr-medium);
  /*font-size: 0.8125rem;*/ /* 13px */
  font-size: 1rem; /* 16px */
  font-weight: 200;
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.0076rem; /* 0.121875px */
  padding: 0rem 2rem 1.25rem; /* 0px 32px 20px */
  margin-bottom: 2rem; /* 32px */
}

/* ---------- FOOTER ---------- */

.lower {
  position: relative;
}

.authorbar,
.sharebar {
  width: 100%;
  padding: 0 2rem; /* 32px */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 0rem 0rem; /* 0px 0px */
  align-items: center;
}

.authorbar {
  position: relative;
  bottom: 1rem; /* 16px */
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "author__image author__name author__share"
    "author__image author__date author__share";
}

.sharebar {
  user-select: none;
  position: absolute;
  bottom: -1rem; /* -16px */
  background-color: var(--clr-darkest);
  left: 0;
  transition: 0.4s ease;
  height: 4rem; /* 64px */
  border-bottom-left-radius: 0.625rem; /* 10px */
  border-bottom-right-radius: 0.625rem; /* 10px */
  display: none;
  cursor: default;
}

.show {
  display: flex;
}

/* ---------- FOOTER: LEFT PART ---------- */
.author__image,
.share__text {
  vertical-align: middle;
  cursor: default;
  margin: 0rem /* 0px */ auto;
  margin-left: 0;
  margin-right: 0.75rem; /* 12px */
}

.author__image {
  border-radius: 50%;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  grid-area: author__image;
}

.share__text {
  font-weight: 200;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.3125rem; /* 5px */
  text-transform: uppercase;
  grid-area: share__text;
  color: #9eafc2;
}

/* ---------- FOOTER: MIDDLE PART ---------- */
.author__name {
  font-weight: 700;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.0076rem; /* 0.121875px */
  color: var(--clr-darkest);
  grid-area: author__name;
}

.author__date {
  font-weight: 200;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.0076rem; /* 0.121875px */
  color: var(--clr-lightest);
  grid-area: author__date;
}

.sharebar__socialicons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sharebar__icon {
  margin-left: 0.75rem; /* 12px */
}

.author__share,
.sharebutton {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 0.2s ease;
}

.sharebar__icon:hover,
.sharebar__icon:focus {
  cursor: pointer;
  opacity: 50%;
}

.sharebar__socialicons {
  grid-area: share__icons;
}

.sharebutton {
  position: relative;
  z-index: 10;
}

/* ---------- FOOTER: RIGHT PART ---------- */

.author__share {
  grid-area: author__share;
}

.sharebutton:hover,
.sharebutton:focus {
  background-color: #6e8098;
}

.sharebutton:hover img,
.sharebutton:focus img {
  filter: brightness(400%);
}

.sharebutton:focus,
.sharebar__icon:focus {
  outline: 0.125rem /* 2px */ var(--clr-medium) solid;
  outline-style: dashed;
}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (min-width: 50rem /* 800px */) {
  main {
    flex-direction: row;
  }

  .main__image {
    min-height: 20rem; /* 320px */
    border-top-right-radius: 0rem; /* 0px */
    border-bottom-left-radius: 0.625rem; /* 10px */
  }

  .main__content h1 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    letter-spacing: 0.0156rem; /* 0.25px */
  }

  .sharebar {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "share__text share__icons";
    min-width: 15.625rem; /* 250px */
    position: relative;
    border: none;
    border-radius: 0.625rem; /* 10px */
    height: 3.4375rem; /* 55px */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.8125rem 2rem; /* 13px 32px */
    vertical-align: middle;
    transform: translate(-48%, -220%);
  }

  .sharebar::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0.625rem; /* 10px */
    border-style: solid;
    border-color: #48556a transparent transparent transparent;
    top: 100%;
    left: 50%;
  }
}
