@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  /* max-width: 327px; */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 6.5%;
}

.main__image__image {
  object-fit: fill;
  /* max-width: 280px; */
  max-width: 100%;
}

.main__content {
  /* padding: 36px 32px; */
  margin-bottom: 60px;
}

.main__content h1 {
  color: #48556a;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 32px 32px 16px;
}
.main__content P {
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #6e8098;
  padding: 0px 32px 20px;
}

.author {
  padding: 0px 32px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "author__image author__name author__share"
    "author__image author__date author__share";
}

.author__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  grid-area: author__image;
}

.author__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #48556a;
  grid-area: author__name;
}

.author__date {
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #9daec2;
  grid-area: author__date;
}

.author__share {
  grid-area: author__share;
  justify-self: end;
  background-color: #ecf2f8;
}

.author__share,
.share__icon--share {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.85;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.author__share:hover {
  background-color: #6e8098;
  fill: #ffffff;
}

.author__share__icon:hover {
  fill: #ffffff;
}

.main__share {
  display: grid;
  grid-column: 1fr 2fr 1fr;
  grid-row: 1fr;
  gap: 0px 0px;
  grid-template-areas: "share__text share__icons share__icon--share";
  position: fixed;
  height: 64px;
  width: 100%;
  bottom: -550px;
  background-color: #48556a;
  transition: 0.5s ease;
}

.socials {
  position: relative;
}

.author,
.main__share {
  position: absolute;
  bottom: 20;
}

.main__share {
  padding: 20px;
}

.share__text {
  font-weight: 200;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  grid-area: share__text;
  vertical-align: middle;
  color: hsla(212, 23%, 69%, 1);
  margin: 0px 10%;
}

.share__icon {
  margin: 0 5px;
}

.share__icons {
  grid-area: share__icons;
}
.share__icon--share {
  grid-area: share__icon--share;
  margin: -5px auto;
  background-color: #6e8098;
  fill: #ffffff;
}

@media only screen and (min-width: 750px) {
  main {
    flex-direction: row;
    margin: 25%;
    max-height: 35vh;
  }

  .main__content h1 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
  }
}
